<form method="post" action="{{ path('app_produits_delete', {'id': produit.id}) }}" onsubmit="return confirm('Confirmer la supression du produit');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn6 mb-3 mt-3 m-3">SUPPRIMER</button>
</form>
