{% extends 'base.html.twig' %}

{%  block title %}
    Detail articles
{%  endblock %}

{% block body %}
<div class="columns is-mobile is-centered" style="margin-top: 20px; padding: 20px">
    <div class="column is-narrow">
        <div class="card-image center">
            <img src="{{ produit.imageproduit }}" alt="" title=""/>
        </div>
        <div class="card-content">
       <h3 class="title is-3">{{ produit.nomproduit }}</h3>

    </div>



        {{ produits-details.nomProduit }}
    </div>
</div>

{% endblock %}
